# Aula 1: Fazendo leitura de arquivos csv

## Lendo arquivos

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv'

In [ ]:
dados_mercado = pd.read_csv(url)

In [ ]:
dados_mercado.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [ ]:
# Alguns arquivos csv são separados por ';'
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

In [ ]:
dados_ponto_virgula = pd.read_csv(url_2)

## Erro de enconding:


UnicodeDecodeError: o codec 'utf-8' não pode decodificar o byte 0xe7 na posição 18: byte de continuação inválido

Isso ocorre quando algum csv contém caracteres especiais não reconhecidos pelo Pandas.
Codificação padrão é o UTF-8, mas alguns podem ser salvos como ISO=8859-1, por exemplo

In [ ]:
dados_ponto_virgula.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

In [ ]:
# Biblioteca para detecção de enconding
import chardet

In [ ]:
# Abre o arquivo em modo de leitura binária 'rb' e atribui este arquivo aberto
# à variável file
with open('coordenadas.csv', 'rb') as file:
  print(chardet.detect(file.read())) # O método .read() lê o arquivo e este resul-
                                     # tado é lido pela funçãõ chardet.detec()

FileNotFoundError: ignored

In [ ]:
# Espeficiação da codificação correta do csv:
df = pd.read_csv('coordenadas.csv',encoding='ascii')

## Parâmetros da função read_csv

In [ ]:
# Parâmetro sep: especifica o separador
dados_sem_virgula = pd.read_csv(url_2, sep=';')

In [ ]:
dados_sem_virgula

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,66476.0,0,1,7/3/2013,99,372,...,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,2n Cycle,Married,31056.0,1,0,1/22/2013,99,5,...,3,8,16,1,1,0,3,8,0,0
2237,22,1976,Graduation,Divorced,46310.0,1,0,3/12/2012,99,185,...,15,5,14,2,6,1,5,8,0,0
2238,528,1978,Graduation,Married,65819.0,0,0,11/29/2012,99,267,...,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,PhD,Married,94871.0,0,2,1/9/2012,99,169,...,188,0,144,1,8,5,4,7,1,0

In [ ]:
# Nrows: passsa apenas as primeiras x linhas
dados_primeiras_linhas = pd.read_csv(url, nrows=6)

In [ ]:
dados_primeiras_linhas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
5,7348,1958,PhD,Single,71691,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0

In [ ]:
# usecols: Seleciona apenas as colunas especificadas

# Por rótulo
dados_selecao = pd.read_csv(url, usecols=['Id', 'Year_Birth','Income'])
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [ ]:
# Por índice:
dados_selecao = pd.read_csv(url,usecols=[0,1,4])
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

## Escrevendo arquivos CSV

In [ ]:
# Função to_csv(): salva um DataFrame como csv.
dados_selecao.to_csv('clientes_mercado.csv') # Este arquivo é salvo na barra lateral

In [ ]:
# Passar o arquivo para uma variável
clientes_mercado = pd.read_csv('/content/clientes_mercado.csv')

In [ ]:
clientes_mercado

      Unnamed: 0     Id  Year_Birth   Income
0              0   1826        1970  84835.0
1              1      1        1961  57091.0
2              2  10476        1958  67267.0
3              3   1386        1967  32474.0
4              4   5371        1989  21474.0
...          ...    ...         ...      ...
2235        2235  10142        1976  66476.0
2236        2236   5263        1977  31056.0
2237        2237     22        1976  46310.0
2238        2238    528        1978  65819.0
2239        2239   4070        1969  94871.0

[2240 rows x 4 columns]

In [ ]:
# Eliminando o índice anterior
dados_selecao.to_csv('dados_mercado.csv',index=False)

In [ ]:
# Lendo o arquivo
pd.read_csv('/content/dados_mercado.csv')

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

# Aula 2: Utilizando planilhas

## Lendo arquivos Excel

In [ ]:
# Depois da extensão xlsx é necessário adicionar '?raw=True
url = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

In [ ]:
dados_co2 = pd.read_excel(url)

KeyboardInterrupt: ignored

In [ ]:
dados_co2.head()

In [ ]:
# Descobrir se existem mais páginas na planilha
# ExcelFile('nome_do_arquivo')
pd.ExcelFile(url).sheet_names

## Formatos suportados pelo Excel:

- xls: formato de arquivo mais antigo e usado até 2003


- xlsx: formato padrão do Excel a partir da versão de 2007. Baseado em XML (Extensible Markup Language - Linguagem de marcação extensível) e é amplamente suportado por outras ferramentas de planilha eletrônica.

- xlsm: extensão usada para armazenar planilhas que contém macros. Macro: sequências de comandos ou instruções que podem ser executadas automaticamente para realizar tarefas específicas na planilha.
Este formato permmite que as macros sejam salvas juntamente com a planilha, para que possam ser executadas sempre que a planilha for aberta

- xlsb: extensão usada pelo Excel para armazenar planilhas em formato binário. Elas permitem que sejam abertas e salvas mas rápidas

- odf, ods e odt: arquivos abertos, livres e universais que podem ser usados por qualquer software e sistema operacional.

## Exploração dos parâmetros da função read_excel()

Parâmetro sheet_name

In [ ]:
# Sheet_name, valor padrão é 0 = Primeira página
# Pode-se passar o índice ou o nome da página
percapita = pd.read_excel(url, sheet_name='emissoes_percapita')

In [ ]:
percapita.head()

In [ ]:
fontes = pd.read_excel(url, sheet_name='fontes')

In [ ]:
fontes.head()

Parâmetro usecols

In [ ]:
# Especifica as colunas que serão mostradas
# No Excel, as colunas são nomeadas por letras
intervalo = pd.read_excel(url,sheet_name='emissoes_C02',usecols='A:D')

In [ ]:
intervalo

Parâmetro nrows

In [ ]:
# Define a quantidade de linhas exibidas
intervalo_2 = pd.read_excel(url, sheet_name='emissoes_C02', usecols='A:D', nrows=10)

In [ ]:
intervalo_2

## Escrevendo arquivos Excel

In [ ]:
percapita.head()

In [ ]:
# Salvando arquivos
percapita.to_excel('co2_percapita.xlsx',index=False)

In [ ]:
pd.read_excel('/content/co2_percapita.xlsx')

## Importando do Google Planilhas

In [ ]:
# Toda planilha possui um ID. Ele está localizado entre /d/ e /edit?usp=sharing
# https://docs.google.com/spreadsheets/d/1l8ydr3XPULp-O-R0MT3G8NZH9fnhRy5RZerAv755G90/edit?usp=sharing

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# /gviz/tq é um parâmetro necessário para acessar a API de visualização de dados do Google.
# API significa Application Programming Interface
# '?tqx=out:csv' especifica a saída como csv

In [ ]:
dados_co2_sheets = pd.read_csv(url)

In [ ]:
dados_co2_sheets.head()

In [ ]:
# Como visualizar uma planilha específica?
# Segunda página
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
percapita_sheets = pd.read_csv(url_percapita)
percapita_sheets.head()

In [ ]:
# Terceira página
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
fontes_sheets = pd.read_csv(url_fontes)
fontes_sheets.head()

# Aula 3: Manipulando arquivos JSON

## Lendo e normalizando arquivos json

A chave indexa os valores contidos no JSON. Como um dicionário

JSON = JavaScript Object Notation

In [ ]:
dados_pacientes = pd.read_json('/content/pacientes.json')

In [ ]:
dados_pacientes

In [ ]:
# Normalização: consiste na organização e padronização dos dados para facilitar
# a análise e comparação entre eles.

# Dicionário:
json_obj = {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      }
# Cada valor aninhado foi desmembrado em uma nova coluna
pd.json_normalize(json_obj)

In [ ]:
# Lista de dicionários:
json_list = [
    {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      },
      {
          'ID': '02',
          'Faixa_etaria': '80 ou +',
          'Sexo_biologico': 'Feminino',
          'Saude': {'Dificuldade_caminhar': 'Nao',
                    'Atividade_fisica': 'Sim',
                    'IMC': 20.34,
                    'Doenca_cardiaca': 'Sim'}
       }
       ]
# Todos os valores aninhados em cada registro foram convertidos em colunas separadas
pd.json_normalize(json_list)

In [ ]:
# JSON digitado para visualização
dados_pacientes_2 = {
  "Pesquisa": "Principais Indicadores de Doenca Cardiaca",
  "Ano": 2020,
  "Pacientes": [
    {
      "ID": "01",
      "Faixa_etaria": "55-59",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 16.6,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 3,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 5,
      "Problemas_saude": [
        "Diabetes",
        "Asma",
        "Cancer_pele"
      ]
    },
    {
      "ID": "02",
      "Faixa_etaria": "80 ou +",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 20.34,
      "Fumante": "Nao",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 0,
      "Saude_mental": 0,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 7,
      "Problemas_saude": [
        "AVC"
      ]
    },
    {
      "ID": "03",
      "Faixa_etaria": "65-69",
      "Sexo_biologico": "Masculino",
      "Raça": "Branca",
      "IMC": 26.58,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 20,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 8,
      "Problemas_saude": [
        "diabetes",
        "Asma"
      ]
    }
  ]
}

In [ ]:
# Tentativa de normalização
pd.json_normalize(dados_pacientes_2)

In [ ]:
# Leitura pelo gerenciador
dados_pacientes_2 = pd.read_json('/content/pacientes_2.json')
dados_pacientes_2

In [ ]:
# Especificação da coluna aninhada
df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes'])
df_normalizado

Nota: normalize() deve ser feita com dicionários. Abaixo, normalização a partir de json

In [ ]:
# Importando módulo json
import json

# Lendo o arquivo json usando o módulo Python JSON

with open('pacientes_2.json','r') as file:
  dados = json.loads(file.read())

# Normalizando os dados com os parâmetros
pd.json_normalize(dados, record_path='Pacientes', meta=['Pesquisa','Ano'])
# Adicionando colunas do JSON como colunas no JSON normalizado com o parâmetro
# meta=

## Salvando arquivos JSON

In [ ]:
df_normalizado.to_json('historico_pacientes_normalizado.json')

In [ ]:
pd.read_json('/content/historico_pacientes_normalizado.json')

## Obtendo arquivos JSON de APIs

In [ ]:
import requests
import json

In [ ]:
# Obtendo dados da API Fruitvice (como texto)
url = 'https://fruityvice.com/api/fruit/all'
dados_frutas = requests.get(url)

In [ ]:
# Acessar os dados usando json.loads()
resultado = json.loads(dados_frutas.text)
pd.DataFrame(resultado)

In [ ]:
pd.json_normalize(resultado)

# Aula 4: Lendo arquivos HTML e XML

## Lendo páginas web

In [ ]:
# Visualizando uma página da Wikipedia
# Conferindo se uma tabela é de fato um objeto tabela (tag 'table' no html)
# Buscando <table> na página

In [ ]:
# Lendo a página

# A função .read_html() busca as tabelas de um html e gera uma lista com o
# dataframe de cada tabela

dados_html = pd.read_html('/content/filmes_wikipedia.html')

In [ ]:
dados_html

In [ ]:
# Verificação do tipo
type(dados_html)

In [ ]:
# Verificação do tamanho
len(dados_html)

In [ ]:
# Armazenando o segundo dataframe
top_filmes = dados_html[1]
top_filmes

## Escrevendo arquivos HTML

In [ ]:
top_filmes.to_html('top_filmes.html')

In [ ]:
pd.read_html('/content/top_filmes.html')

In [ ]:
# DataFrame para CSV
top_filmes.to_csv('top_filmes.csv',index=False)

In [ ]:
# Lendo
pd.read_csv('/content/top_filmes.csv')

## Lendo/escrevendo arquivos XML

XML (Extensible Markup Language, ou Linguagem de marcação estendida) é uma linguagem de marcação com estrutura de tags.

Tag raiz: <data>
Toda linha possui a tag: <row>

In [ ]:
dados_imdb = pd.read_xml('/content/imdb_top_1000.xml')

In [ ]:
dados_imdb.head(3)

In [ ]:
dados_imdb.to_xml('filmes_imdb.xml')

# Aula 5: Trabalhando com banco de dados

## Criando um banco de dados local

In [ ]:
import pandas as pd
import sqlalchemy

In [ ]:
sqlalchemy.__version__

'1.4.49'

In [ ]:
# Atualizando para uma versão inferior visando compatibilidade com o curso
!pip install --upgrade 'sqlalchemy<2.0'

Requirement already satisfied: sqlalchemy<2.0 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (2.0.2)

SQL (Strictured Quert Language, ou, Linguagem de Consulta Estruturada)

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, inspect
# Criação de motor sql

In [ ]:
# Criação de banco de dados na memória
engine = create_engine('sqlite:///:memory:')

**Bancos de dados** são sistemas que permitem o armazenamento, organização e recuperação de informações de forma estruturada e eficiente.

Existem dois tipos de bancos de dados:

- relacionais: representam e armazenam os dados em tabelas

- não-relacionais: usam uma variedade de estruturas de dados, como documentos, grafos ou pares de chave-valor


O Python permite trabalhar com diferentes bancos de dados como SQLite, MySQL, PostgreSQL, Oracle, dentre outros.

## Escrevendo em um banco de dados local

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

In [ ]:
dados = pd.read_csv(url)

In [ ]:
dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [ ]:
# Introdução de um arquivo para o banco de dados
dados.to_sql('clientes', engine, index=False)

438463

In [ ]:
# Inspeciona o motor especificado
inspector = inspect(engine)

In [ ]:
print(inspector.get_table_names())

['clientes']

## Cláusulas SQL

As cláusulas SQL são componentes fundamentais das instruções SQL que permitem especificar detalhes sobre como a consulta ou a operação de banco de dados devem ser executadas

Estas cláusulas são usadas para filtrar, classificar, agrupar e limitar os resultados das consultas

- SELECT: especifica quais colunas devem ser selecionadas na consulta

- FROM: especifica as tabelas do banco de dados que devem ser consultadas

- WHERE: filtra os resultados da consulta com base em uma ou mais condições especificadas

- ORDER BY: classifica os resultados da consulta em ordem crescente ou decrescente com base em uma ou mais colunas

- GROUPBY: agrupa os resultados da consulta com base em uma ou mais colunas

- LIMIT: limita o número de linhas retornadas pelos resultados da consulta



```
SELECT nome, sobrenome, salario
FROM colaboradores
WHERE departamento = 'vendas'
```
Cláusula SELECT especifica as colunas;
Cláusula FROM especifica a tabela
Cláusula WHERE filtra os resultados da consulta com base em uma condição

In [ ]:
# SELECT * seleciona todas as informações

query = 'SELECT * FROM clientes WHERE Categoria_de_renda == "Empregado"'

In [ ]:
empregados = pd.read_sql(query, engine)

In [ ]:
empregados

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226055,6837906,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226056,6839936,34,Ensino médio,Casado,3,Empregado,Construção Civil,5,135000.0,1,Casa/apartamento próprio
226057,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
226058,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [ ]:
empregados.to_sql('empregados',con=engine, index=False)

226059

In [ ]:
# Lê uma tabela inteira
pd.read_sql_table('empregados', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226055,6837906,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226056,6839936,34,Ensino médio,Casado,3,Empregado,Construção Civil,5,135000.0,1,Casa/apartamento próprio
226057,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
226058,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [ ]:
pd.read_sql_table('empregados', engine, columns=['ID_Cliente', 'Grau_escolaridade', 'Rendimento_anual'])

        ID_Cliente Grau_escolaridade  Rendimento_anual
0          5008804   Ensino superior          427500.0
1          5008805   Ensino superior          427500.0
2          5008806      Ensino médio          112500.0
3          5008815   Ensino superior          270000.0
4          5112956   Ensino superior          270000.0
...            ...               ...               ...
226054     6837905      Ensino médio          355050.0
226055     6837906      Ensino médio          355050.0
226056     6839936      Ensino médio          135000.0
226057     6840222      Ensino médio          103500.0
226058     6842885      Ensino médio          121500.0

[226059 rows x 3 columns]

In [ ]:
query = 'SELECT * FROM clientes'

In [ ]:
pd.read_sql(query,engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438459,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438462,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

Excluindo um cliente

In [ ]:
query = 'DELETE FROM clientes WHERE ID_Cliente == 5008804'
# Método conect estabelece uma conexão com o banco de dados
with engine.connect() as conn:
  conn.execute(query)
# Método execute executa a solicitação sql diretamente no banco de dados
pd.read_sql_table('clientes',engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
2,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
3,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438458,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

Substituindo uma célula

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
  conn.execute(query)

In [ ]:
pd.read_sql_table('clientes',engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
2,5008808,52,Ensino superior,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
3,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438458,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio